@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About the Pizza Parlor</h1>
<p>The Pizza Parlor values and respects the privacy and autonomy of all people. This site does not collect your data. This site does not use cookies. This site only offers information about the Pizza Parlor restaurant and its menu selection.</p>